.target {
/*	position: absolute;	*/
	position: relative;
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: 40pt;
	font-weight: bold;
	letter-spacing: 7px;
	width: 70%;
	text-align: center;
}

.target span.matched {
	color: #008e00;
}

.target span.currentTarget {
	color: black;
	background-color: #dddddd;
/*
	border: 1px solid #bdbdbd;
	padding-left: 5px;
*/
}

.target span.unmatched {
	color: #bdbdbd;
}

#startButton {
	color: #cccccc;
}

#startButton:hover {
	cursor: pointer;
	color: #aaaaaa;
}

#readySteadyGo {
	position: relative;
	padding-top: 100px;
}


#readySteadyGo h3 {
	text-align: center;
	color: #999999;
}

#readySteadyGo h2 {
	text-align: center;
	color: #666666;
}

#readySteadyGo h1 {
	text-align: center;
	color: #333333;
}

#header #errors {
}

#header #errors #triggeredErrors {
	font-family: monospace;	
	color: red;
}

#header #errors #availableErrors {
	font-family: monospace;	
	color: #cccccc;	
}





